---
import Layout from "../layouts/layout.astro";
import Navbar from "../navbar.astro";
import Gallery from "../components/gallery/Gallery.astro";
---
<Navbar />
<Layout title="Re:Zero Comparacion">
  <section class="mx-auto flex min-h-[70vh] max-w-full lg:max-w-7xl flex-col items-stretch sm:items-center justify-center px-4 py-16 text-center sm:px-6 lg:px-8" style="min-width:0;">
    <Gallery />
  </section>
</Layout>