---
import Layout from "../layouts/layout.astro";
import Navbar from "../navbar.astro";
---
  <Navbar />
<Layout title="Re:Zero Inicio">


  <section class="mx-auto flex min-h-[70vh] max-w-5xl flex-col items-center justify-center px-4 py-16 text-center sm:px-6 lg:px-8">
    <h1 class="mb-6 text-5xl font-display sm:text-6xl lg:text-7xl">
      Re<span class="text-rz-accent">:Zero</span> Portal
    </h1>

    <p class="max-w-2xl text-lg leading-relaxed text-rz-text/75 sm:text-xl">
      Explora
    </p>
  </section>
</Layout>